h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid #000;
  text-align: left;
}

td {
  height: 20px;
}

#col0 {
  width: 20%;
}

#col1 {
  width: 50%;
}

#col2 {
  width: 10%;
  text-align: right;
}

#col3 {
  text-align: right;
}
