<!DOCTYPE html>
<html lang='en'>
  <head>
    <link rel="stylesheet" href="style1.css">
  </head>
  <body>
    <h1> {{title}} </h1>
    <h1> Missing Assignments </h1>
    
    <table>
      <tr>
          <th id='col0'> {{myheaders[0]}} </th>
          <th id='col1'> {{myheaders[1]}} </th>
          <th id='col2'> {{myheaders[2]}} </th>
          <th id='col3'> {{myheaders[3]}} </th>
      </tr>
      {% for student, missing_list in mydata.items() %}
      <tr>
        <td> </td>
      </tr>
      {% for assignment in missing_list %}
      <tr>
        {% if loop.index == 1 %}
        <td id='col0'> {{student}} </td>
        {% else %}
        <td> </td>
        {% endif %}
        <td id='col1'> {{assignment['name']}} </td>
        <td id='col2'> {{assignment['points']}} </td>
        <td id='col3'> {{assignment['due']}} </td>
      </tr>
      {% endfor %}
      {% endfor %}
    </table>
  </body>
</html>
